%p
  = raw "Hello , this is from # {blog_title} activation email, please click on the link : #{link_to @url, @url} To activate your user , if not click , copy link address into your browser open for activation."
%p
  = "Thank you for #{blog_title} Support, I wish you a happy life !"