- unless @articles.present?
  .jumbotron
    %h2 Nothing ~
- @articles.each do |article|
  = render partial: 'articles/article', locals: {article: article}

= paginate @articles, remote: true if params[:controller] == 'articles'