%h2.text-center
  - if @result[:status]
    = "Forgot your password e-mail was sent successfully, log-mail #{@result[:message]}Password back ."
  - else
    = "Forgot your password Failed to send message."